{% extends 'primal/base.html' %}
{% block title %}Login{% endblock %}

{% block content %}

  <main class="my-6 mx-auto w-1/2 max-w-xl">

    <section class="p-6 bg-orange-100 rounded-3xl text-center">

      <header class="mb-6">
        <h1 class="text-3xl">login</h1>
      </header>

      <form method="post" action="." class="space-y-6">
        {% csrf_token %}

        <fieldset class="space-y-5">
          <div>
            <label class="inline-block mb-2">ur name</label>
            <div class="w-full">{{ form.username }}</div>
          </div>

          <div>
            <label class="inline-block mb-2">password</label>
            <div class="w-full">{{ form.password }}</div>
          </div>
        </fieldset>

        {% if form.errors or form.non_field_errors %}
          <div class="p-6 bg-red-300 rounded-3xl mt-4">
            {{ form.non_field_errors }}
            {% for field in form %}
              {{ field.errors }}
            {% endfor %}
          </div>
        {% endif %}

        <div class="pt-4">
          <button type="submit" 
                  class="py-4 px-8 text-lg bg-orange-500 hover:bg-orange-700 rounded-3xl text-white">
            yep
          </button>
        </div>

      </form>

    </section>

  </main>

{% endblock %}